.snakemake/
code/log/*
*.fastq.gz
*.fasta
*.fai
*.bam
*.bam*
*.bai
*.sam
*.sam*
*.log
*.vcf*
*.vcf
*.metrics.txt
*.bed
*.bed*
*.OU
*.ER
*.vcf.gz
*.vcf
*.gz
bedtools/plots/*
list/*.tsv
list/*.csv
*.txt
bbmap/*
copy/
README2.md
